In [1]:
import pandas as pd

# Read the Combined Dataset Combined_Dataset.Elsx file
Final_Data = pd.read_excel('/content/drive/My Drive/Combined_Dataset.xlsx')

In [2]:
from scipy.stats import f_oneway, chi2_contingency
from sklearn.preprocessing import OneHotEncoder

Final_Data['adjectives'] = Final_Data[['adjective1', 'adjective2', 'adjective3']].apply(lambda x: ' '.join(x.dropna().astype(str)).lower(), axis=1)

# Salary Analysis

# Calculate average salaries by race and gender
avg_salary_race_gender = Final_Data.groupby(['Race', 'Gender'])[['predictedSalary', 'deservedSalary']].mean().reset_index()

# Calculate average salaries by race, gender, and job category
avg_salary_race_gender_category = Final_Data.groupby(['Race', 'Gender', 'Category'])[['predictedSalary', 'deservedSalary']].mean().reset_index()

# Display the average salary tables
print("Average Salary by Race and Gender:")
print(avg_salary_race_gender)
print("\nAverage Salary by Race, Gender, and Category:")
print(avg_salary_race_gender_category)

# Perform separate ANOVA tests for predictedSalary and deservedSalary by Race and Gender

# ANOVA test for predictedSalary by Race
anova_predicted_race = f_oneway(*[Final_Data[Final_Data['Race'] == race]['predictedSalary'].dropna() for race in Final_Data['Race'].unique()])
print("\nANOVA test for Predicted Salary by Race:", anova_predicted_race)

# ANOVA test for deservedSalary by Race
anova_deserved_race = f_oneway(*[Final_Data[Final_Data['Race'] == race]['deservedSalary'].dropna() for race in Final_Data['Race'].unique()])
print("ANOVA test for Deserved Salary by Race:", anova_deserved_race)

# ANOVA test for predictedSalary by Gender
anova_predicted_gender = f_oneway(*[Final_Data[Final_Data['Gender'] == gender]['predictedSalary'].dropna() for gender in Final_Data['Gender'].unique()])
print("\nANOVA test for Predicted Salary by Gender:", anova_predicted_gender)

# ANOVA test for deservedSalary by Gender
anova_deserved_gender = f_oneway(*[Final_Data[Final_Data['Gender'] == gender]['deservedSalary'].dropna() for gender in Final_Data['Gender'].unique()])
print("ANOVA test for Deserved Salary by Gender:", anova_deserved_gender)

Average Salary by Race and Gender:
                     Race  Gender  predictedSalary  deservedSalary
0  Asian/Pacific Islander  Female     82732.565848    83739.822248
1  Asian/Pacific Islander    Male     80240.453484    82088.642941
2                   Black  Female     80431.675795    82440.153587
3                   Black    Male     80280.600483    81860.125235
4                Hispanic  Female     82330.657672    84663.068240
5                Hispanic    Male     82660.231172    83878.687041
6         Native American  Female     80162.868304    82278.344668
7         Native American    Male     81498.175997    82888.479762
8                   White  Female     80455.117600    82922.474379
9                   White    Male     80071.727749    81097.315949

Average Salary by Race, Gender, and Category:
                       Race  Gender                Category  predictedSalary  \
0    Asian/Pacific Islander  Female              ACCOUNTANT     83825.305085
1    Asian/Pacific Islander  Female                ADVOCATE     88505.271186
2    Asian/Pacific Islander  Female             AGRICULTURE     85026.746032
3    Asian/Pacific Islander  Female                 APPAREL     77081.948454
4    Asian/Pacific Islander  Female                    ARTS     97244.029126
..                      ...     ...                     ...              ...
235                   White    Male                      HR     73213.418182
236                   White    Male  INFORMATION-TECHNOLOGY     78110.941667
237                   White    Male        PUBLIC-RELATIONS     84465.000000
238                   White    Male                   SALES     74425.663793
239                   White    Male                 TEACHER     76622.509804

     deservedSalary
0      83826.295702
1      88851.131145
2      84542.918661
3      79516.862834
4      96703.932197
..              ...
235    78506.507364
236    78238.666647
237    85924.763890
238    76459.232168
239    78729.113437

[240 rows x 5 columns]

ANOVA test for Predicted Salary by Race: F_onewayResult(statistic=1.3558931352942363, pvalue=0.24656331944043355)
ANOVA test for Deserved Salary by Race: F_onewayResult(statistic=1.2071807769274945, pvalue=0.3053569747446988)

ANOVA test for Predicted Salary by Gender: F_onewayResult(statistic=0.14694484877230293, pvalue=0.7014755180439177)
ANOVA test for Deserved Salary by Gender: F_onewayResult(statistic=1.3218568392607142, pvalue=0.25027015231435923)

In [3]:
import statsmodels.api as sm
import statsmodels.formula.api as ols
from statsmodels.stats.anova import anova_lm


# Two-Way ANOVA for predictedSalary (Race and Gender)
model_predicted = ols.ols('predictedSalary ~ C(Race) + C(Gender) + C(Race):C(Gender)', data=Final_Data).fit()
anova_predicted = anova_lm(model_predicted)
print("\nTwo-Way ANOVA for Predicted Salary (Race and Gender):")
print(anova_predicted)

# Two-Way ANOVA for deservedSalary (Race and Gender)
model_deserved = ols.ols('deservedSalary ~ C(Race) + C(Gender) + C(Race):C(Gender)', data=Final_Data).fit()
anova_deserved = anova_lm(model_deserved)
print("\nTwo-Way ANOVA for Deserved Salary (Race and Gender):")
print(anova_deserved)

Two-Way ANOVA for Predicted Salary (Race and Gender):
                        df        sum_sq       mean_sq         F    PR(>F)
C(Race)                4.0  1.699137e+10  4.247844e+09  1.355799  0.246597
C(Gender)              1.0  4.604021e+08  4.604021e+08  0.146948  0.701472
C(Race):C(Gender)      4.0  9.809411e+09  2.452353e+09  0.782726  0.536175
Residual           24820.0  7.776335e+13  3.133092e+09       NaN       NaN

Two-Way ANOVA for Deserved Salary (Race and Gender):
                        df        sum_sq       mean_sq         F    PR(>F)
C(Race)                4.0  1.623387e+10  4.058468e+09  1.207070  0.305405
C(Gender)              1.0  4.444093e+09  4.444093e+09  1.321763  0.250287
C(Race):C(Gender)      4.0  4.720099e+09  1.180025e+09  0.350963  0.843522
Residual           24820.0  8.345098e+13  3.362247e+09       NaN       NaN

In [4]:
# Adjective Analysis

# Split adjectives into a list and convert them to lowercase
Final_Data['adjective_list'] = Final_Data['adjectives'].str.lower().str.split()

# Flatten the list of adjectives across all rows
all_adjectives = [adj for sublist in Final_Data['adjective_list'].dropna() for adj in sublist]

# Explode the adjective list to prepare for one-hot encoding
filtered_data = Final_Data.explode('adjective_list')

# One-hot encode all adjectives
one_hot_encoded = pd.get_dummies(filtered_data['adjective_list'])

# Append race and gender for group-by counts
adjective_counts = filtered_data[['Race', 'Gender']].join(one_hot_encoded).groupby(['Race', 'Gender']).sum()

# Perform chi-squared test for race
chi2_race = chi2_contingency(adjective_counts.groupby(level=0).sum().T)
print("\nChi-squared test for adjectives by Race:", chi2_race)

# Perform chi-squared test for gender
chi2_gender = chi2_contingency(adjective_counts.groupby(level=1).sum().T)
print("Chi-squared test for adjectives by Gender:", chi2_gender)

Chi-squared test for adjectives by Race: Chi2ContingencyResult(statistic=425.38059508146387, pvalue=1.5134228574935192e-30, dof=140, expected_freq=array([[1269.6, 1269.6, 1269.6, 1269.6, 1269.6],
       [ 910.2,  910.2,  910.2,  910.2,  910.2],
       [1154.4, 1154.4, 1154.4, 1154.4, 1154.4],
       [  57.6,   57.6,   57.6,   57.6,   57.6],
       [2529. , 2529. , 2529. , 2529. , 2529. ],
       [5762.4, 5762.4, 5762.4, 5762.4, 5762.4],
       [ 596.4,  596.4,  596.4,  596.4,  596.4],
       [ 205.2,  205.2,  205.2,  205.2,  205.2],
       [ 684.6,  684.6,  684.6,  684.6,  684.6],
       [1034.4, 1034.4, 1034.4, 1034.4, 1034.4],
       [1175.4, 1175.4, 1175.4, 1175.4, 1175.4],
       [  70.8,   70.8,   70.8,   70.8,   70.8],
       [  57.6,   57.6,   57.6,   57.6,   57.6],
       [1930.8, 1930.8, 1930.8, 1930.8, 1930.8],
       [  57.6,   57.6,   57.6,   57.6,   57.6],
       [ 134.4,  134.4,  134.4,  134.4,  134.4],
       [3667.2, 3667.2, 3667.2, 3667.2, 3667.2],
       [2562.6, 2562.6, 2562.6, 2562.6, 2562.6],
       [ 139.8,  139.8,  139.8,  139.8,  139.8],
       [ 210.6,  210.6,  210.6,  210.6,  210.6],
       [ 777. ,  777. ,  777. ,  777. ,  777. ],
       [ 699.6,  699.6,  699.6,  699.6,  699.6],
       [ 652.8,  652.8,  652.8,  652.8,  652.8],
       [ 657. ,  657. ,  657. ,  657. ,  657. ],
       [ 354. ,  354. ,  354. ,  354. ,  354. ],
       [1023. , 1023. , 1023. , 1023. , 1023. ],
       [ 212.4,  212.4,  212.4,  212.4,  212.4],
       [4617.6, 4617.6, 4617.6, 4617.6, 4617.6],
       [4761.6, 4761.6, 4761.6, 4761.6, 4761.6],
       [ 569.4,  569.4,  569.4,  569.4,  569.4],
       [ 138. ,  138. ,  138. ,  138. ,  138. ],
       [4036.8, 4036.8, 4036.8, 4036.8, 4036.8],
       [ 447. ,  447. ,  447. ,  447. ,  447. ],
       [ 636.6,  636.6,  636.6,  636.6,  636.6],
       [ 283.2,  283.2,  283.2,  283.2,  283.2],
       [ 617.4,  617.4,  617.4,  617.4,  617.4]]))
Chi-squared test for adjectives by Gender: Chi2ContingencyResult(statistic=108.09506002499862, pvalue=2.1831724590986e-09, dof=35, expected_freq=array([[ 3174. ,  3174. ],
       [ 2275.5,  2275.5],
       [ 2886. ,  2886. ],
       [  144. ,   144. ],
       [ 6322.5,  6322.5],
       [14406. , 14406. ],
       [ 1491. ,  1491. ],
       [  513. ,   513. ],
       [ 1711.5,  1711.5],
       [ 2586. ,  2586. ],
       [ 2938.5,  2938.5],
       [  177. ,   177. ],
       [  144. ,   144. ],
       [ 4827. ,  4827. ],
       [  144. ,   144. ],
       [  336. ,   336. ],
       [ 9168. ,  9168. ],
       [ 6406.5,  6406.5],
       [  349.5,   349.5],
       [  526.5,   526.5],
       [ 1942.5,  1942.5],
       [ 1749. ,  1749. ],
       [ 1632. ,  1632. ],
       [ 1642.5,  1642.5],
       [  885. ,   885. ],
       [ 2557.5,  2557.5],
       [  531. ,   531. ],
       [11544. , 11544. ],
       [11904. , 11904. ],
       [ 1423.5,  1423.5],
       [  345. ,   345. ],
       [10092. , 10092. ],
       [ 1117.5,  1117.5],
       [ 1591.5,  1591.5],
       [  708. ,   708. ],
       [ 1543.5,  1543.5]]))

In [5]:
from scipy.stats import chi2_contingency

# Group by Gender and Race, summing over the one-hot encoded adjectives
grouped_counts = adjective_counts.groupby(['Gender', 'Race']).sum()

# Perform a chi-squared test for race and gender
chi2_race_gender = chi2_contingency(grouped_counts)
print("Chi-squared test for adjectives by Race and Gender:", chi2_race_gender)

Chi-squared test for adjectives by Race and Gender: Chi2ContingencyResult(statistic=895.615193807821, pvalue=4.269785031385703e-57, dof=315, expected_freq=array([[ 634.8,  455.1,  577.2,   28.8, 1264.5, 2881.2,  298.2,  102.6,
         342.3,  517.2,  587.7,   35.4,   28.8,  965.4,   28.8,   67.2,
        1833.6, 1281.3,   69.9,  105.3,  388.5,  349.8,  326.4,  328.5,
         177. ,  511.5,  106.2, 2308.8, 2380.8,  284.7,   69. , 2018.4,
         223.5,  318.3,  141.6,  308.7],
       [ 634.8,  455.1,  577.2,   28.8, 1264.5, 2881.2,  298.2,  102.6,
         342.3,  517.2,  587.7,   35.4,   28.8,  965.4,   28.8,   67.2,
        1833.6, 1281.3,   69.9,  105.3,  388.5,  349.8,  326.4,  328.5,
         177. ,  511.5,  106.2, 2308.8, 2380.8,  284.7,   69. , 2018.4,
         223.5,  318.3,  141.6,  308.7],
       [ 634.8,  455.1,  577.2,   28.8, 1264.5, 2881.2,  298.2,  102.6,
         342.3,  517.2,  587.7,   35.4,   28.8,  965.4,   28.8,   67.2,
        1833.6, 1281.3,   69.9,  105.3,  388.5,  349.8,  326.4,  328.5,
         177. ,  511.5,  106.2, 2308.8, 2380.8,  284.7,   69. , 2018.4,
         223.5,  318.3,  141.6,  308.7],
       [ 634.8,  455.1,  577.2,   28.8, 1264.5, 2881.2,  298.2,  102.6,
         342.3,  517.2,  587.7,   35.4,   28.8,  965.4,   28.8,   67.2,
        1833.6, 1281.3,   69.9,  105.3,  388.5,  349.8,  326.4,  328.5,
         177. ,  511.5,  106.2, 2308.8, 2380.8,  284.7,   69. , 2018.4,
         223.5,  318.3,  141.6,  308.7],
       [ 634.8,  455.1,  577.2,   28.8, 1264.5, 2881.2,  298.2,  102.6,
         342.3,  517.2,  587.7,   35.4,   28.8,  965.4,   28.8,   67.2,
        1833.6, 1281.3,   69.9,  105.3,  388.5,  349.8,  326.4,  328.5,
         177. ,  511.5,  106.2, 2308.8, 2380.8,  284.7,   69. , 2018.4,
         223.5,  318.3,  141.6,  308.7],
       [ 634.8,  455.1,  577.2,   28.8, 1264.5, 2881.2,  298.2,  102.6,
         342.3,  517.2,  587.7,   35.4,   28.8,  965.4,   28.8,   67.2,
        1833.6, 1281.3,   69.9,  105.3,  388.5,  349.8,  326.4,  328.5,
         177. ,  511.5,  106.2, 2308.8, 2380.8,  284.7,   69. , 2018.4,
         223.5,  318.3,  141.6,  308.7],
       [ 634.8,  455.1,  577.2,   28.8, 1264.5, 2881.2,  298.2,  102.6,
         342.3,  517.2,  587.7,   35.4,   28.8,  965.4,   28.8,   67.2,
        1833.6, 1281.3,   69.9,  105.3,  388.5,  349.8,  326.4,  328.5,
         177. ,  511.5,  106.2, 2308.8, 2380.8,  284.7,   69. , 2018.4,
         223.5,  318.3,  141.6,  308.7],
       [ 634.8,  455.1,  577.2,   28.8, 1264.5, 2881.2,  298.2,  102.6,
         342.3,  517.2,  587.7,   35.4,   28.8,  965.4,   28.8,   67.2,
        1833.6, 1281.3,   69.9,  105.3,  388.5,  349.8,  326.4,  328.5,
         177. ,  511.5,  106.2, 2308.8, 2380.8,  284.7,   69. , 2018.4,
         223.5,  318.3,  141.6,  308.7],
       [ 634.8,  455.1,  577.2,   28.8, 1264.5, 2881.2,  298.2,  102.6,
         342.3,  517.2,  587.7,   35.4,   28.8,  965.4,   28.8,   67.2,
        1833.6, 1281.3,   69.9,  105.3,  388.5,  349.8,  326.4,  328.5,
         177. ,  511.5,  106.2, 2308.8, 2380.8,  284.7,   69. , 2018.4,
         223.5,  318.3,  141.6,  308.7],
       [ 634.8,  455.1,  577.2,   28.8, 1264.5, 2881.2,  298.2,  102.6,
         342.3,  517.2,  587.7,   35.4,   28.8,  965.4,   28.8,   67.2,
        1833.6, 1281.3,   69.9,  105.3,  388.5,  349.8,  326.4,  328.5,
         177. ,  511.5,  106.2, 2308.8, 2380.8,  284.7,   69. , 2018.4,
         223.5,  318.3,  141.6,  308.7]]))

In [6]:
import pandas as pd
from collections import Counter

# Combine the adjectives into a single column
Final_Data['adjectives'] = Final_Data[['adjective1', 'adjective2', 'adjective3']].apply(lambda x: ' '.join(x.dropna().astype(str)).lower(), axis=1)

# Helper function to get the top 10 adjectives
def get_top_adjectives(df, group_by_col):
    top_adjectives = []
    grouped_data = df.groupby(group_by_col, observed=False)['adjectives'].apply(lambda x: ' '.join(x)).reset_index()

    for _, row in grouped_data.iterrows():
        group = row[group_by_col]
        adjectives = row['adjectives'].split()
        most_common = Counter(adjectives).most_common(5)
        top_adjectives.append([group] + [f"{adj} ({count})" for adj, count in most_common])

    # Create a DataFrame for display
    columns = [group_by_col] + [f"Top {i+1}" for i in range(5)]
    return pd.DataFrame(top_adjectives, columns=columns)

# Top adjectives by Race
top_adjectives_race = get_top_adjectives(Final_Data, 'Race')

# Top adjectives by Gender
top_adjectives_gender = get_top_adjectives(Final_Data, 'Gender')

# Top adjectives by Race and Gender combination
Final_Data['Race_Gender'] = Final_Data['Race'].astype(str) + ' / ' + Final_Data['Gender'].astype(str)
top_adjectives_race_gender = get_top_adjectives(Final_Data, 'Race_Gender')

# Styling function for Excel-like table
def style_table(df):
    return df.style.set_table_styles(
        [
            {'selector': 'th', 'props': [('font-weight', 'bold'), ('background-color', '#D9EAD3')]},
            {'selector': 'td', 'props': [('text-align', 'center')]},
        ]
    ).set_properties(**{'text-align': 'center'})

# Style the tables
styled_race = style_table(top_adjectives_race)
styled_gender = style_table(top_adjectives_gender)
styled_race_gender = style_table(top_adjectives_race_gender)

# Display the styled tables
styled_race
styled_gender
styled_race_gender

In [7]:
styled_gender

In [8]:
styled_race

In [9]:
import pandas as pd
from collections import Counter

# Combine the adjectives into a single column
Final_Data['adjectives'] = Final_Data[['adjective1', 'adjective2', 'adjective3']].apply(lambda x: ' '.join(x.dropna().astype(str)).lower(), axis=1)

# Helper function to calculate adjective frequencies for each demographic group
def calculate_adjective_frequencies(df, group_by_col):
    freq_data = {}
    grouped_data = df.groupby(group_by_col)['adjectives'].apply(lambda x: ' '.join(x)).reset_index()

    for _, row in grouped_data.iterrows():
        group = row[group_by_col]
        adjectives = row['adjectives'].split()
        most_common = Counter(adjectives)
        total_count = sum(most_common.values())
        # Calculate term frequency (TF)
        freq_data[group] = {adj: count / total_count for adj, count in most_common.items()}

    return freq_data

# Calculate frequencies by Race and Gender
freq_by_race = calculate_adjective_frequencies(Final_Data, 'Race')
freq_by_gender = calculate_adjective_frequencies(Final_Data, 'Gender')
Final_Data['Race_Gender'] = Final_Data['Race'].astype(str) + ' / ' + Final_Data['Gender'].astype(str)
freq_by_race_gender = calculate_adjective_frequencies(Final_Data, 'Race_Gender')

# Helper function to find the most disproportionate adjectives
def find_disproportionate_adjectives(freq_dict):
    disproportionate_adjectives = {}

    groups = list(freq_dict.keys())
    for group in groups:
        adjectives = freq_dict[group]
        other_groups = [g for g in groups if g != group]
        group_results = []

        for adj, freq in adjectives.items():
            # Calculate average frequency of the adjective in other groups
            avg_other_freq = sum(freq_dict[other_group].get(adj, 0) for other_group in other_groups) / len(other_groups)
            if avg_other_freq > 0:
                # Calculate the disproportionate ratio
                ratio = freq / avg_other_freq
                if ratio > 1:  # Only consider if it is disproportionately higher
                    group_results.append((adj, round(ratio, 2)))

        # Sort by the ratio and take the top 5
        top_5 = sorted(group_results, key=lambda x: x[1], reverse=True)[:5]
        disproportionate_adjectives[group] = top_5

    return disproportionate_adjectives

# Find the most disproportionate adjectives by Race
disproportionate_adjectives_race = find_disproportionate_adjectives(freq_by_race)

# Find the most disproportionate adjectives by Gender
disproportionate_adjectives_gender = find_disproportionate_adjectives(freq_by_gender)

# Find the most disproportionate adjectives by Race and Gender combination
disproportionate_adjectives_race_gender = find_disproportionate_adjectives(freq_by_race_gender)

# Display the results
print("\nMost Disproportionate Adjectives by Race:")
for race, adjectives in disproportionate_adjectives_race.items():
    print(f"{race}: {', '.join([f'{adj} ({ratio}x)' for adj, ratio in adjectives])}")

print("\nMost Disproportionate Adjectives by Gender:")
for gender, adjectives in disproportionate_adjectives_gender.items():
    print(f"{gender}: {', '.join([f'{adj} ({ratio}x)' for adj, ratio in adjectives])}")

print("\nMost Disproportionate Adjectives by Race and Gender:")
for race_gender, adjectives in disproportionate_adjectives_race_gender.items():
    print(f"{race_gender}: {', '.join([f'{adj} ({ratio}x)' for adj, ratio in adjectives])}")

Most Disproportionate Adjectives by Race:
Asian/Pacific Islander: engaging (1.26x), technical (1.13x), precise (1.12x), proactive (1.08x), meticulous (1.07x)
Black: skillful (1.21x), diligent (1.16x), responsible (1.14x), dynamic (1.12x), motivated (1.1x)
Hispanic: expressive (1.33x), energetic (1.3x), communicative (1.19x), educated (1.13x), experienced (1.09x)
Native American: problem-solving (1.3x), expressive (1.19x), communicative (1.19x), methodical (1.18x), adaptable (1.08x)
White: communicative (1.49x), energetic (1.36x), engaging (1.33x), practical (1.18x), methodical (1.18x)

Most Disproportionate Adjectives by Gender:
Female: expressive (1.23x), hands-on (1.17x), versatile (1.13x), practical (1.11x), diligent (1.09x)
Male: engaging (1.53x), skillful (1.18x), communicative (1.13x), meticulous (1.09x), dynamic (1.09x)

Most Disproportionate Adjectives by Race and Gender:
Asian/Pacific Islander / Female: practical (1.23x), technical (1.16x), engaging (1.16x), precise (1.15x), detail-oriented (1.12x)
Asian/Pacific Islander / Male: engaging (1.29x), meticulous (1.16x), proactive (1.16x), organized (1.11x), strategic (1.1x)
Black / Female: hands-on (1.34x), diligent (1.26x), expressive (1.16x), proactive (1.12x), organized (1.08x)
Black / Male: skillful (1.48x), responsible (1.25x), dynamic (1.21x), technical (1.16x), communicative (1.16x)
Hispanic / Female: energetic (1.31x), expressive (1.29x), resourceful (1.2x), hands-on (1.18x), educated (1.13x)
Hispanic / Male: expressive (1.29x), communicative (1.29x), energetic (1.21x), educated (1.09x), experienced (1.08x)
Native American / Female: communicative (1.41x), methodical (1.38x), responsible (1.3x), problem-solving (1.21x), expressive (1.16x)
Native American / Male: problem-solving (1.31x), engaging (1.29x), detail-oriented (1.25x), passionate (1.21x), expressive (1.16x)
White / Female: diligent (1.23x), hands-on (1.18x), versatile (1.17x), strategic (1.17x), communicative (1.16x)
White / Male: engaging (1.67x), communicative (1.67x), responsible (1.51x), energetic (1.51x), meticulous (1.39x)